.inkTable2{
    display: none;
}
@media (max-width: 48em) {
    .inkTable {
        display: none;
    }

    .inkTable2 {
        display: block;
    }

    .inkBox {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .leftSide {
        flex: 1;
        font-weight: bold;
    }

    .rightSide {
        flex: 2;
        padding-left: 1em;
    }

    .leftSide p:not(:last-child) {
        margin-bottom: 0.5em; 
        border-bottom: 1px solid #ccc;
        padding-bottom: 0.5em;
    }
    .rightSide p:not(:last-child) {
        margin-bottom: 0.5em; 
        border-bottom: 1px solid #ccc;
        padding-bottom: 0.5em;
    }
}